<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.OrderMapper">

    <insert id="placeOrder" parameterType="order">
        insert into orderbasetable values (#{id}, #{busertable_id}, #{amount}, #{orderdate}, #{goodstable_id})
    </insert>

    <insert id="addCart" parameterType="order">
        insert into carttable values (#{id}, #{busertable_id}, #{goodstable_id})
    </insert>

    <select id="findCart" parameterType="int" resultType="String">
        select gpicture from carttable c, goodstable g where g.id = c.goodstable_id and c.busertable_id = #{uid}
    </select>

</mapper>