<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="/manageadmin/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/manageadmin/css/list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="main.html">首页</a></li>
    <li><a href="#">购物后台管理</a></li>
    <li><a href="#">商品列表</a></li>
  </ul>
  <div class="date_text"><img src="/manageadmin/images/leftico04.png">&nbsp;今天是2015年2月10日 星期一 12：00</div>
</div>
<div class="rightinfo">
  <div class="tools">
    <ul class="toolbar">
      <li ><span><img src="/manageadmin/images/t01.png" /></span>添加</li>
      <li ><span><img src="/manageadmin/images/t02.png" /></span>修改</li>
      <li class="click"><span><img src="/manageadmin/images/t03.png" /></span>删除</li>
      <li><a href="jqueryChart.html"><span><img src="/manageadmin/images/t04.png" /></span>统计</a></li>
      <li><span><img src="/manageadmin/images/t05.png" /></span>设置</li>
    </ul>
    <iframe src="/manageadmin/shop_search.html" scrolling="no" frameborder="0" width="400" height="42"></iframe>
  </div>
  <table class="tablelist">
    <thead>
      <tr>
        <th>缩略图</th>
        <th>商品名称</th>
        <th>商品类别</th>
        <th>库存(件）</th>
        <th>商品单价（元）</th>
        <th>团购价（元）</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="goods:${goodsList}">
          <td class="imgtd"><img th:src="@{/shop/images/shopshow/{gpicture}(gpicture=${goods.gpicture})}" width="100" height="75"/></td>
          <td th:text="${goods.gname}">商品名称</td>
          <td th:text="${goods.goodstype_id}">商品类别</td>
          <td th:text="${goods.gstore}">库存(件）</td>
          <td th:text="${goods.goprice}">商品单价（元）</td>
          <td th:text="${goods.grprice}">团购价（元）</td>
          <td th:text="${goods.create_time}">发布时间</td>
        </tr>
    </tbody>
  </table>
  <div class="pagin">
    <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
    <ul class="paginList">
      <li class="paginItem"><a href="#"><span class="pagepre"></span></a></li>
      <li class="paginItem"><a href="#">1</a></li>
      <li class="paginItem current"><a href="#">2</a></li>
      <li class="paginItem"><a href="#">3</a></li>
      <li class="paginItem"><a href="#">4</a></li>
      <li class="paginItem"><a href="#">5</a></li>
      <li class="paginItem more"><a href="#">...</a></li>
      <li class="paginItem"><a href="#">10</a></li>
      <li class="paginItem"><a href="#"><span class="pagenxt"></span></a></li>
    </ul>
  </div>
</div>
</body>
</html>
